Options -Indexes

AddDefaultCharset UTF-8

RewriteEngine on

RewriteRule ^([^.]+)$ index.php?&params=$1 [QSA]
RewriteRule yottos.xml xml_export.php

<FilesMatch "\.(inc|conf|ini)$">
order deny,allow
deny from all
</FilesMatch>