# errors psges
#ErrorDocument 400 /__errors/400.shtml
#ErrorDocument 401 /__errors/401.shtml
#ErrorDocument 403 /__errors/403.shtml
#ErrorDocument 404 /__errors/404.shtml
#ErrorDocument 500 /__errors/500.shtml

Options -Indexes

AddDefaultCharset UTF-8

RewriteEngine on

RewriteRule ^([^.]+)$ index.php?&params=$1 [QSA]
RewriteRule yottos.xml xml_export.php

# disable view files
<FilesMatch "\.(inc|conf|ini)$">
order deny,allow
deny from all
</FilesMatch>

php_flag register_globals 0

#AuthType	"Basic"
#AuthUserFile	"/var/www/babysmile/.htpasswd"
#AuthName	"babysmile.dp.ua"
#Order		"Allow,Deny"
#Allow from	"all"
#Require valid-user 
