<script type="text/javascript" src="/js/catalogFilters.js"></script>
<div id="filterControls">
    <div id="mask"></div>
	<div id="filters">
		<h1>ФИЛЬТРЫ</h1>
		{assign var=filters value=$page->getCatalogFilters()}
		<div class="status" style="display:none">Фильтр изменен. Нажмите кнопку <em>Применить</em>, чтобы увидеть результаты</div>
		<input name="priceMmin" type="hidden" value="{$filters.price.mmin}"/><input name="priceMmax" type="hidden" value="{$filters.price.mmax}"/>
	    <form method="get" action="{$page->getUrl()}">		    	
		    <table>
		    	<tr class="price">
		        	<td width="140"{if !$smarty.get.priceMin || !$smarty.get.priceMax} class="grey"{/if}>
		        		<label>цена:</label>
		        	</td>
		        	<td width="533">
		        		<div class="range">{$filters.price.min}-{$filters.price.max}</div>
		        		<div class="slider{if !$smarty.get.priceMin || !$smarty.get.priceMax} ui-slider-disabled ui-state-disabled ui-disabled{/if}"></div>
		        		<input name="priceMin" checked="checked" style="display:none" value="{$filters.price.min}" class="canDisabled"/>
		        		<input name="priceMax" checked="checked" style="display:none" value="{$filters.price.max}" class="canDisabled"/>
		        	</td>
		        </tr>
		    	<tr>
		        	<td width="140"{if !$smarty.get.name} class="grey"{/if}>
		        		<label>название: </label>
		        	</td>
		        	<td width="533">
						<input name="name" type="text" value="buzz"{if !$smarty.get.name} disabled="disabled"{/if} class="canDisabled" />
					</td>
		        </tr>
		    	<tr class="vendors">
		        	<td width="140"{if !$smarty.get.vendor} class="grey"{/if}>
		        		<label>производитель:</label>
		        	</td>
		        	<td width="533">
					{foreach name=vendors from=$filters.vendorsList item=item}
		        		<a href="#" title="{$item.title}"{if $item.active} class="checked"{/if}>{$item.name}</a>{if !$smarty.foreach.vendors.last}, {/if}
						<input type="checkbox" checked="checked" style="display:none" name="vendors[]" value="{$item.id}"{if !$item.active} disabled="disabled"{/if} />
					{/foreach}
		        	</td>
		        </tr>
		    	<tr>
		        	<td width="140"{if !$smarty.get.discount} class="grey"{/if}>
		        		<label>скидка</label>
		        	</td>
		        	<td width="533"><input name="discount" type="checkbox" value="1"{if $smarty.get.discount} checked="checked"{else} disabled="disabled"{/if} class="canDisabled" /></td>
		        </tr>
		    </table>
		        
		    <div class="buttons">
		        <a class="apply" href="#">применить</a>
		        <a class="close" href="#">закрыть</a>
		        <a class="cancel" href="{$page->getUrl()}">отменить все</a>
		    </div>
		</form>
	</div>
</div>

<div class="filter_double">
   	<div class="left">
    	<div>фильтр {if !$filters.is_active}не {/if}задан <span>показаны {if !$filters.is_active}все{/if} {$goods.count} товаров</span></div>
        <a id="setFilter" href="#">{if $filters.is_active}редактировать{else}задать{/if} фильтр</a>
    </div>
       
    <div class="right">
	{assign var=query_string value=$page->getQueryString('params', 'page', 'price_order')}
	{strip}
       	<a href="
			{$page->getUrl()}?
			{if $query_string}
				{$query_string}&amp;
			{/if}
			{if $filters.order.price eq 'asc'}
				price_order=desc
			{else}
				price_order=asc
			{/if}"
		{if $filters.order.price}
		  class="
			{if $filters.order.price eq 'asc'}up{else}down{/if}"
		{/if}>
			сначала {if $filters.order.price eq 'asc' || !$filters.order.price}дешевле{else}дороже{/if}
		</a>
	{/strip}
    </div>
</div>