<!-- Triple START -->
<div id="triple">
	<div style="float:left"><a href="/discounts" class="block block_left"><div>АКЦИИ</div>
		<img src="/images/triple/pic_1.jpg" alt="" width="220" height="190" /></a></div>
	<div style="float:left"><a href="/actual" class="block block_center"><div>АКТУАЛЬНО</div>
		<img src="/images/triple/pic_2.jpg" alt="" width="220" height="190" /></a></div>
	<div style="float:left"><a href="/latest" class="block block_right"><div>НОВИНКИ</div>
		<img src="/images/triple/pic_3.jpg" alt="" width="220" height="190" /></a></div>
</div>
<!-- Triple END -->