<!-- Triple START -->
<div id="triple">
	<a href="/discounts" class="block block_left">
    	<h1>АКЦИИ</h1>
        <img src="/images/triple/pic_1.jpg" alt="" width="220" height="190" />
    </a>
	<a href="/actual" class="block block_center">
    	<h1>АКТУАЛЬНО</h1>
       	<img src="/images/triple/pic_2.jpg" alt="" width="220" height="190" />
    </a>
	<a href="/latest" class="block block_right">
    	<h1>НОВИНКИ</h1>
        <img src="/images/triple/pic_3.jpg" alt="" width="220" height="190" />
    </a>
</div>
<!-- Triple END -->