<div id="item">
	{assign var=parent value=$page->getNearestParent()}
	{assign var=good value=$page->getGood($params)}
	<h1 class="first">{$parent->getName()}</h1>
	
	<!-- Item top START -->
	<div class="item_top">
		<div class="carousel">
			{*<a href="#" class="prev"></a>
			<a href="#" class="next"></a>*}
			<div class="image"><img src="{$good->getImage()}" alt="{$good->getName()|escape}" /></div>
		</div>
		
		<div class="text">
			<div class="header">{$good->name|escape}{*<span>-  carbo/pebble</span>*}</div>
			<div class="info">{$good->description|escape}</div>
			Производитель:  <a class="violet" title="Перейти к странице производителя" href="{$good->biz_url}">{$good->biz_name|escape}</a><br />
			Цена:  {if $good->price_old}<span class="old_price" title="старая цена">{$good->price_old}</span> {/if}<span class="big">{$good->price|convert_currency}</span><br />
			Срок доставки:  <span>{if $good->delivery_period}{$good->delivery_period}{else}1-3{/if} дн.</span><br />
			Наличие:  <span>{if !$good->availability}уточняйте{else}есть{/if}</span>
			{if !$good->is_build}В стоимость товара сборка не входит. Cборка оговаривается отдельно{/if}
			<div class="buy">
				<a href="#" class="button-buy"><img src="/images/item_buy_bg.gif" alt="КУПИТЬ" width="232" height="78" /></a>
				<form action="" method="post" class="modal" title="Добавить товар в корзину">
					<p><strong>{$good->getTitle()|escape}</strong></p>
					<input type="hidden" name="good_id" value="{$good->id}" />
					<label for="count">Количество:</label> <input type="text" name="count" value="1" maxlength="3" />
				</form>
			</div>
		</div>
	</div>
	<!-- Item top END -->
	
	<!-- Item species START -->
	{*<div class="item_species">
		<h1>РАЗНОВИДНОСТИ</h1>
		
		<ul>
			<li><a href="#"><img src="/images/item_species/pic_1.jpg" alt="" width="99" height="88" /></a></li>
			<li><a href="#"><img src="/images/item_species/pic_2.jpg" alt="" width="99" height="88" /></a></li>
			<li><a href="#"><img src="/images/item_species/pic_3.jpg" alt="" width="100" height="88" /></a></li>
			<li><a href="#"><img src="/images/item_species/pic_4.jpg" alt="" width="99" height="88" /></a></li>
			<li><a href="#"><img src="/images/item_species/pic_5.jpg" alt="" width="100" height="88" /></a></li>
			<li><a href="#"><img src="/images/item_species/pic_6.jpg" alt="" width="99" height="88" /></a></li>
		</ul>
	</div>*}
	<!-- Item species END -->
	
	<!-- Item descr START -->
	<div class="item_descr">
		<h1>ОПИСАНИЕ</h1>		
		{$page->getContent($params)}
	</div>
	<!-- Item descr END -->
	
	<!-- Item similar START -->
	{*<div class="item_similar">
		<h1>ПОХОЖИЕ ТОВАРЫ</h1>
		<div class="row">
			<div class="block">
				<div class="image"><a href="#"><img src="/images/list/pic_1.jpg" alt="" width="220" height="190" /></a></div>
				<div class="link"><a href="#">Прогулочная коляска<br />Joggster X Sporty</a></div>
				<div class="info">TFK (Германия) T-12/12JOGGX-CKI</div>
				<div class="price">5320 грн</div>
			</div>
			<div class="block">
				<div class="image"><a href="#"><img src="/images/list/pic_2.jpg" alt="" width="220" height="190" /></a></div>
				<div class="link"><a href="#">Прогулочная коляска<br />Joggster X Sporty</a></div>
				<div class="info">TFK (Германия) T-12/12JOGGX-CKI</div>
				<div class="price">5320 грн</div>
			</div>
			<div class="block">
				<div class="image"><a href="#"><img src="/images/list/pic_3.jpg" alt="" width="220" height="190" /></a></div>
				<div class="link"><a href="#">Прогулочная коляска<br />Joggster X Sporty</a></div>
				<div class="info">TFK (Германия) T-12/12JOGGX-CKI</div>
				<div class="price">5320 грн</div>
			</div>
		</div>
	</div>*}
	<!-- Item similar END -->
	
	<!-- Item comments START -->
	{*<div class="item_comments">
		<h1>ОТЗЫВЫ</h1>
		
		<div class="block">
			<div class="name">Александр</div>
			<div class="text">Замечательная коляска. Привезли сразу на следующий день. Говорят что трехколесные коляски неудобны зимой. Не верьте. На самом деле все просто супер.</div>
		</div>
		<div class="block">
			<div class="name">Гость</div>
			<div class="text">Долго не могла определиться с подходящей коляской для сына. Спасибо консультатнам бэбисмайл. Просто потрясающая модель.</div>
		</div>
		<div class="block">
			<div class="name">Оксана</div>
			<div class="text">Понравилось, что можно подобрать дождевик подходящего цвета.</div>
		</div>
		
		<div class="add_comment"><a href="#"><img src="/images/add_comment.gif" alt="Оставить отзыв" width="292" height="40" /></a></div>
	
		<ul class="pages">
			<li class="current"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
		</ul>
	</div>*}
	<!-- Item comments END -->
</div>