<!-- List START -->
<div id="list">
	<h1 class="first">{$page->getName()}</h1>
    
    <h1 class="no_mar">ФИЛЬТР</h1>
    
	{assign var=goods value=$page->getGoodList($params)}	
    {include file='../templates/template_parts/catalog_filter_controls.html' goods=$goods}
    
    <div class="content">		
    	{foreach name=cat from=$goods.data item=item}
			{if $smarty.foreach.cat.iteration%3 eq 1 || $smarty.foreach.cat.first}
    		<div class="row">
    		{/if}
	        	<div class="block">
	        		{if $item->getImage(true)}
	            	<div class="image">
	            		<a href="{$item->url}">
	            			<img class="hover" src="{$item->getImage(true)}" alt="{$item->name|escape}" title="{$item->title|escape}" />
	            			{if $item->getHoverImage()}
	            				<input type="hidden" name="hover_src" value="{$item->getHoverImage()}" />
	            			{/if}
	            		</a>
	            	</div>
	            	{/if}
	                <div class="link"><a href="{$item->url}">{$item->name|escape}</a></div>
	                <div class="info">{$item->description|escape|nl2br}</div>
	                <div class="price">{$item->price|convert_currency}</div>
	            </div>
	        {if $smarty.foreach.cat.iteration%3 eq 0 || $smarty.foreach.cat.last}
        	</div>
        	{/if}
        {/foreach}
    </div>
    {if isset($params.numerator_name)}
		{include file='template_parts/page_numerator.html' numerator_name=$params.numerator_name}
	{/if}
</div>
<!-- List START -->