<div class="block block_news">

	<div class="link_news"><a href="/news">НОВОСТИ</a></div>
    
    <div class="content">
        <ul>
        {foreach from=$page->getLastNews($params) item=item}
            <li>
                <div class="date">{$item->getDate('mysql')|date_format:"%d.%m.%y"}</div>
                <div class="text"><a href="{$item->getUrl()}">{$item->getName()}</a></div>
            </li>
        {/foreach}
        </ul>
        
        <div class="all"><a href="/news">Все новости</a></div>
	</div>
</div>