<div class="block block_news">
	<h1><a href="#">НОВОСТИ</a></h1>
    
    <div class="content">
        <ul>
            <li>
                <div class="date">20.12.10</div>
                <div class="text"><a href="#">Министерство здравоохранения Украины запретит памперсы.</a></div>
            </li>
            <li>
                <div class="date">19.12.10</div>
                <div class="text"><a href="#">На новогодней елке будет проходить бесплатная раздача подарков всем детям.</a></div>
            </li>
            <li>
                <div class="date">18.12.10</div>
                <div class="text"><a href="#">Китайские коляски вредны для здоровья.</a></div>
            </li>
        </ul>
        
        <div class="all"><a href="#">Все новости</a></div>
	</div>
</div>