<!-- Header icons START -->
<div id="header_icons">
	{if $user->getState() eq 'login'}
		<a href="/users/{$user->getNickName()}" title="Мой профиль"><img src="/images/header_logos/logo_1.png" alt="" width="47" height="59" /></a>
	{else}
		<a href="#" class="enter" title="Вход/Регистрация"><img src="/images/header_logos/logo_1.png" alt="" width="47" height="59" /></a>
		<form id="formEnter" class="standart modal" method="post" action="/enter" title="Вход на сайт">
			<label>Логин: <input type="text" name="login" /></label>
			<label>Пароль: <input type="password" name="pass" /></label>
			<label class="switchable pass_again">Пароль еще раз: <input type="password" name="pass_again" /></label>
			<div class="switchable register">Нет логина? <a href="#">Регистрация</a></div>
			<div class="switchable enter">Есть логин? <a href="#">Вход</a></div>
		</form>
	{/if}
	<a href="/cart" title="Моя корзина" class="cart">
		<img src="/images/header_logos/logo_2.png" alt="" width="45" height="59" />		
		<span>{if $user->getCartCount() neq 0}{$user->getCartCount()}{/if}&nbsp;</span>		
	</a>
	<a href="/search" title="Поиск по сайту"><img src="/images/header_logos/logo_3.png" alt="" width="38" height="59" /></a>
	<a href="mailto:info@babysmile.dp.ua" title="Написать нам письмо"><img src="/images/header_logos/logo_4.png" alt="" width="51" height="59" /></a>
</div>
<!-- Header icons END -->